/*
Copyright (C) 2008-2011 Étienne Loks  <etienne.loks_AT_peacefrogsDOTnet>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

See the file COPYING for details.
*/

@media only screen and (max-width: 600px){
    #main{
        width:100% !important;
        background:white !important;
        border:0px !important;
    }

    .new_poll{
        width:100% !important;
    }
    .new_poll *{
        padding:0 !important;
        margin:0!important;
    }
}

/* colors */

body, #poll th, .highlight{
  background-color:#98c93c;
}

a, .comments .author{
  color:#287028;
}

h1, h1 a, .form_description{
  background-color:#287028;
}

/**/

body{
margin:0;
font-size:12px;
font-family: Arial, Verdana, Geneva, "Bitstream Vera Sans", Helvetica, sans-serif;
}

pre{
font-size:12px;
font-family: Arial, Verdana, Geneva, "Bitstream Vera Sans", Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
font-family: Georgia, "Bitstream Vera Serif", "New York", Palatino, serif;
font-weight:normal;
}

h1, h1 a{
margin:0;
margin-top:2px;
border:1px solid black;
border-right:None;
border-left:None;
color:white;
padding-left:10px;
font-size:32px;
text-decoration:None;
}

h2{
font-style:italic;
border-bottom:1px dashed black;
margin-left:10px;
padding:0;
font-size:24px;
}

h2 a{
color:black;
text-decoration:None;
}

h2 a:hover{
color:#808080;
}

h3{
margin:10px;
font-size:20px;
}

h3 a{
color:black;
text-decoration:None;
}

h3 a:hover{
color:#808080;
}

p{
padding:6px;
margin:6px;
max-width:600px;
}

td{
font-size:12px;
padding:4px;
}

th{
font-size:12px;
text-align:left;
}

label{
font-family: Georgia, "Bitstream Vera Serif", "New York", Palatino, serif;
font-weight:normal;
font-style:italic;
}

hr.spacer{
clear:both;
height:0;
border:0;
}

#main{
background-color:white;
border:1px solid;
margin:auto;
background-image: url(bg.jpg);
background-repeat:no-repeat;
background-position:95% 10%;
width: 80%;
}

#header{
text-align:right;
font-size:11px;
color:#808080;
}

#header #languages a{
color:#808080;
padding-right:6px;
text-decoration:none;
}

#footer{
text-align:center;
font-size:11px;
color:#808080;
margin:6px;
}

#footer a{
color:#808080;
text-decoration:none;
}

.alert, .error, .errorlist{
color:blue;
}

.new_poll{
    width:400px;
    margin:auto;
    padding:0;
}

.help_button{
    float:right;
    color:white;
    background:green;
    width:20px;
    height:20px;
    border-radius:25px;
    text-align:center;
}

th .help_button{
    width:14px;
    height:14px;
}

.help_button:hover{
    cursor: help;
}

.field_label{
    clear:both;
    font-size:1.5em;
    width:100%;
    float:none !important;
    margin-top:10px;
}

.new_poll table form tr {
    margin:5px 0px !important;
    padding:0px;
}

.new_poll div, .new_poll input, .new_poll textarea, .new_poll table{
    width:100%;
    margin:5px 0px;
}

.new_poll div {
    float:left;
}

.errorlist, .error{
    color:red;
    background-color:rgb(255,200,200);
}

.datetime a img{
border:0;
}

.datetime input.vTimeField{
width:68px;
}

.datetime input.vDateField{
width:75px;
}

.form_description{
color:white;
font-size:11px;
width:200px;
}

a.arrow{
text-decoration:None;
font-weight:bold;
}

#content{
margin:5px;
}

#poll_table{
overflow:auto;
overflow-y:visible;
text-align:center;
width:100%;
padding-bottom:16px;
display:block;
float:left;
}

#poll{
text-align:center;
margin:auto;
}

#poll a{
color:black;
}

#poll td{
border:1px solid black;
padding:0;
}

#poll td.simple{
border:None;
background-color:#FFF;
}

#poll th{
border:1px solid black;
padding:5px;
}

#poll input{
width:100px;
}

#poll .OK{
background-color:#9ec5d5;
}

#poll .OKO{
background-color:#b689d5;
}

#poll .KO{
background-color:#b9b3bd;
}

#sum th{
background-color:white;
border:None;
text-align:center;
}

#sum td{
border:None;
}

.highlight{
font-weight:bold;
}

tr.highlighted_voter td{
background-color:#808080;
color:white;
}

.footnote{
font-size:0.9em;
padding:10px;
}

.footnote p{
padding:0;
margin:2px;
}

.poll-description{
margin:4px;
padding:4px;
border:1px solid #d3d3d3;
}

.poll-description p{
margin:0;
padding:2px;
}


ul.comments{
list-style-type:None;
margin:4px;
padding:0;
}

.comments li{
margin:4px;
padding:4px;
border:1px solid #d3d3d3;
}

.comments .author{
margin:0;
padding:0;
}


/* CALENDARS & CLOCKS IMPORTED FROM ADMIN */
 
.calendarbox, .clockbox { margin: 5px auto; font-size: 11px; width: 16em; text-align: center; background: white; position: relative; border: 1px solid #444; }
.clockbox { width: auto; }
.clockbox h2 { margin: 0; font-size: 13px; border-bottom: 1px solid #222; padding: 3px; background-color: #EEE; }
 
.calendar { margin: 0; padding: 0; }
.calendar table { margin: 0; padding: 0; border-collapse: collapse; background: white; width: 100%; }
.calendar caption, .calendarbox h2 { margin: 0; font-size: 12px; text-align: center; border-top: none; background-color: #EEE; }
.calendar caption { height: 18px; font-weight: bold; }
.calendar th { font-size: 10px; color: #666; padding: 2px 3px; text-align: center; background: #e1e1e1 url(../img/admin/nav-bg.gif) 0 50% repeat-x; border-bottom: 1px solid #ddd; }
.calendar td { font-size: 11px; text-align: center; padding: 0; border-top: 1px solid #eee; border-bottom: none; }
.calendar td.selected a { background: #C9DBED; }
.calendar td.nonday { background: #efefef; }
.calendar td.today a { background: #ffc; }
.calendar td a, .timelist a { display: block; font-weight: bold; padding: 4px; text-decoration: none; color: #444; }
.calendar td a:hover, .timelist a:hover { background: #4A0010; color: white; }
.calendar td a:active, .timelist a:active { background: #CCC; color: white; }
.calendarnav { font-size: 10px; text-align: center; color: #ccc; margin: 0; padding: 1px 3px; }
.calendarnav a:link, #calendarnav a:visited, #calendarnav a:hover { color: #999; }
.calendar-shortcuts { background: white; font-size: 10px; line-height: 11px; border-top: 1px solid #eee; padding: 3px 0 4px; color: #ccc; }
.calendarbox .calendarnav-previous, .calendarbox .calendarnav-next { display: block; position: absolute; font-weight: bold; font-size: 12px; background: #AAA url(../img/admin/default-bg.gif) bottom left repeat-x; padding: 1px 4px 2px 4px; color: white; }
.calendarnav-previous:hover, .calendarnav-next:hover { background: #4A0010; }
.calendarnav-previous { top: 0; left: 0; }
.calendarnav-next { top: 0; right: 0; }
.calendar-cancel { margin: 0 !important; padding: 0; font-size: 10px; background: #e1e1e1 url(../img/admin/nav-bg.gif) 0 50% repeat-x; border-top: 1px solid #ddd; }
.calendar-cancel a { padding: 2px; color: #999; }
 
ul.timelist, .timelist li { list-style-type: none; margin: 0; padding: 0; }
.timelist a { padding: 2px; }

